*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI,sans-serif;

}


body{

background:#05070d;
color:white;

}



/* TOP BAR */

.dashboard-header{

display:flex;
justify-content:space-between;
align-items:center;

padding:25px 8%;

background:#090d17;

border-bottom:1px solid #20263b;

}


.logo{

font-size:28px;
font-weight:bold;

color:#00bfff;

letter-spacing:2px;

}


/* MAIN */

.dashboard{

padding:50px 8%;

}



/* WELCOME */

.welcome{

background:#0a0f1b;

padding:35px;

border-radius:20px;

border:1px solid #232d48;

box-shadow:0 0 25px rgba(0,191,255,.15);

margin-bottom:40px;

}


.welcome h1{

font-size:40px;

}


.welcome span{

color:#00bfff;

}



/* CARDS */

.stats{

display:flex;

gap:25px;

flex-wrap:wrap;

}



.box{

flex:1;

min-width:250px;

background:#0a0f1b;

padding:30px;

border-radius:20px;

border:1px solid #232d48;

transition:.3s;

}


.box:hover{

transform:translateY(-5px);

box-shadow:0 0 25px rgba(0,191,255,.3);

}



.box h2{

font-size:22px;

margin-bottom:20px;

text-align:left;

}


.value{

font-size:32px;

color:#00bfff;

font-weight:bold;

}



/* SERVER STATUS */

.online{

color:#00ff88;

font-weight:bold;

}



/* RESOURCE BARS */

.progress{

height:15px;

background:#151c2d;

border-radius:20px;

overflow:hidden;

margin-top:10px;

}


.progress div{

height:100%;

background:linear-gradient(
90deg,
#00bfff,
#008cff
);

}



/* BUTTONS */


.dashboard-button{

margin-top:20px;

display:inline-block;

padding:14px 25px;

background:linear-gradient(
45deg,
#00bfff,
#008cff
);

border-radius:12px;

text-decoration:none;

color:white;

font-weight:bold;

transition:.3s;

}


.dashboard-button:hover{

transform:translateY(-4px);

box-shadow:0 0 20px #00bfff;

}



/* MOBILE */

@media(max-width:700px){

.stats{

flex-direction:column;

}


.welcome h1{

font-size:30px;

}

}
